In [115]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [116]:
def import_data(data):
    def _import_on_time(dataset):
        DF = pd.read_csv(dataset,low_memory=False).drop(columns=["Unnamed: 0"])
        DF["Route"] = [tuple(l) for l in DF["Route"].str.replace("\(|\)|\'","",regex=True).str.split(", ")]
        DF["Scheduled Time"] = pd.to_datetime(DF["Scheduled Time"])
        return DF

    def _import_traffic_counts(dataset):
        DF = pd.read_csv(dataset).drop(columns="Unnamed: 0")
        DF["Timestamp"] = pd.to_datetime(DF["Timestamp"]) 
        return DF

    def _import_sites(dataset):
        return pd.read_csv(dataset)

    def _import_stops(dataset):
        return pd.read_csv(dataset).drop(columns="Unnamed: 0")

    def _import_lane_closure(dataset):
        DF = pd.read_csv(dataset).drop(columns="Unnamed: 0")
        DF["Boundaries"] = DF["Boundaries"].str.replace("\[|\]|\'","",regex=True).str.split(", ")
        DF["Direction"] = DF["Direction"].str.replace("\[|\]|\'","",regex=True).str.split(", ")
        DF["Date Closed - From"] = pd.to_datetime(DF["Date Closed - From"]) 
        DF["Date Closed - To"] = pd.to_datetime(DF["Date Closed - To"]) 
        DF["Geometry"] = [[[(float(l.replace("(","").split(", ")[0]),float(l.replace(")","").split(", ")[1])) for l in s.split("), (")] for s in m] 
                            for m in [j.replace("[[","").replace("]]","").split("], [") for j in DF["Geometry"].values]]
        return DF

    import_dict = {
        "ON_TIME":["clean_datasets/ON_TIME.csv",_import_on_time],
        "TRAFFIC_COUNTS":["clean_datasets/TRAFFIC_COUNTS.csv",_import_traffic_counts],
        "SITES":["clean_datasets/SITES.csv",_import_sites],
        "STOPS":["clean_datasets/STOPS.csv",_import_stops],
        "LANE_CLOSURE":["clean_datasets/LANE_CLOSURE.csv",_import_lane_closure],
    }
    dataset,import_func = import_dict[data]
    return import_func(dataset)

In [117]:
ON_TIME = import_data("ON_TIME")
ON_TIME

,Stop Number,Route Number,Day Type,Scheduled Time,Deviation,Long,Lat,Route,Delay Type
0,30893,71,Weekday,2021-08-03 12:57:00,-83,-97.148700,49.958300,"(71, Arlington, Portage via Sinclair)",on-time
1,30894,71,Weekday,2021-08-03 12:57:47,-131,-97.144732,49.957068,"(71, Arlington, Portage via Sinclair)",early
2,30884,71,Weekday,2021-08-03 12:58:20,-112,-97.145920,49.955548,"(71, Arlington, Portage via Sinclair)",on-time
3,30377,71,Weekday,2021-08-03 13:00:00,-128,-97.145247,49.952372,"(71, Arlington, Portage via Sinclair)",early
4,30378,71,Weekday,2021-08-03 13:01:02,-277,-97.140930,49.951178,"(71, Arlington, Portage via Sinclair)",early
...,...,...,...,...,...,...,...,...,...
4264663,40043,47,Weekday,2021-08-17 10:26:36,-252,-96.992926,49.895046,"(47, Transcona - Pembina, Transcona via Regent)",early
4264664,40037,47,Weekday,2021-08-17 10:27:13,-248,-96.989166,49.895062,"(47, Transcona - Pembina, Transcona via Regent)",early
4264665,40031,47,Weekday,2021-08-17 10:27:42,-248,-96.986778,49.895893,"(47, Transcona - Pembina, Transcona via Regent)",early
4264666,40029,47,Weekday,2021-08-17 10:28:03,-240,-96.984648,49.895901,"(47, Transcona - Pembina, Transcona via Regent)",early
4264667,40019,47,Weekday,2021-08-17 10:28:24,-231,-96.982558,49.895918,"(47, Transcona - Pembina, Transcona via Regent)",early

In [118]:
TRAFFIC_COUNTS = import_data("TRAFFIC_COUNTS")
TRAFFIC_COUNTS

,Timestamp,Site,Northbound,Southbound,Eastbound,Westbound,Total,Lat,Long,Near
0,2021-08-01 20:00:00,McPhillips,170.0,152.0,NaN,NaN,322,49.951733,-97.149032,Leila
1,2021-08-01 02:00:00,McPhillips,14.0,15.0,NaN,NaN,29,49.951733,-97.149032,Leila
2,2021-08-01 19:30:00,McPhillips,181.0,161.0,NaN,NaN,342,49.951733,-97.149032,Leila
3,2021-08-01 11:15:00,McPhillips,178.0,262.0,NaN,NaN,440,49.951733,-97.149032,Leila
4,2021-08-01 04:15:00,Henderson,12.0,12.0,NaN,NaN,24,49.934985,-97.096166,Grove
...,...,...,...,...,...,...,...,...,...,...
21490,2021-08-24 14:00:00,Marion,NaN,NaN,180.0,198.0,378,49.881900,-97.089342,Dupuy
21491,2021-08-24 11:15:00,Lagimodiere,249.0,282.0,NaN,NaN,531,49.848695,-97.049665,Burmac
21492,2021-08-24 22:00:00,Lagimodiere,127.0,171.0,NaN,NaN,298,49.848695,-97.049665,Burmac
21493,2021-08-24 07:15:00,Pembina,326.0,131.0,NaN,NaN,457,49.826952,-97.152312,Adamar
21494,2021-08-24 03:00:00,Lagimodiere,14.0,13.0,NaN,NaN,27,49.848695,-97.049665,Burmac

In [119]:
SITES = import_data("SITES")
SITES

          Site      Near        Lat       Long
0   McPhillips     Leila  49.951733 -97.149032
1    Henderson     Grove  49.934985 -97.096166
2      Pembina    Adamar  49.826952 -97.152312
3      Inkster     Wyatt  49.945949 -97.187758
4       Nichol  St.Marys  49.850579 -97.112202
5  Lagimodiere    Burmac  49.848695 -97.049665
6     Disraeli    Bridge  49.906744 -97.123028
7       Marion     Dupuy  49.881900 -97.089342

In [120]:
STOPS = import_data("STOPS")
STOPS

      Stop Number        Lat       Long   Direction     Street           At
0           10001  49.871261 -97.139518  Southbound    Osborne       Mulvey
1           10002  49.868819 -97.137553  Southbound    Osborne     Woodward
2           10003  49.867880 -97.136795  Southbound    Osborne      Brandon
3           10004  49.866522 -97.135707  Southbound    Osborne  Hethrington
4           10005  49.865164 -97.134604  Southbound    Osborne       Morley
...           ...        ...        ...         ...        ...          ...
5151        62018  49.847806 -97.164596   Eastbound     Parker     Beaumont
5152        62021  49.780139 -97.196271  Northbound  Eaglewood     Longspur
5153        62022  49.780498 -97.196785  Southbound  Eaglewood     Longspur
5154        62023  49.791002 -97.209359   Westbound      Bison    Appleford
5155        62024  49.791361 -97.206400   Eastbound      Bison  Bridge Lake

[5156 rows x 6 columns]

In [122]:
LANE_CLOSURE = import_data("LANE_CLOSURE")
LANE_CLOSURE

,Street,At,Boundaries,Direction,Date Closed - From,Date Closed - To,Time Closed - From,Time Closed - To,Complete Closure,Lat,Long,Geometry,Num_Segments,Num_Points
0,Bryce,River,"[River Av, End]","[Eastbound, Westbound]",2021-08-16,2021-10-16,12:00 AM,12:00 AM,No,49.879699,-97.142781,"[[(49.879153816388, -97.142387643857), (49.880...",1,3
1,Lilac,Carter,"[Carter Av, Weatherdon Av]",[Southbound],2021-06-14,2021-10-29,12:00 AM,12:00 AM,No,49.862454,-97.151445,"[[(49.862119196838, -97.151173092203), (49.862...",1,5
2,Princess,Pacific,"[Pacific Av, Rupert Av]",[Southbound],2020-08-14,2021-10-16,12:00 AM,12:00 AM,No,49.901786,-97.139766,"[[(49.90158994935, -97.139915854251), (49.9019...",1,3
3,Henry,Austin,"[Austin St, End]",[Westbound],2021-05-10,2021-11-30,12:00 AM,11:00 PM,No,49.903340,-97.134152,"[[(49.903503694415, -97.13466284795), (49.9033...",1,4
4,Grandin,Tache,"[Tache Av, St Joseph St]",[Eastbound],2021-05-31,2022-01-13,12:00 AM,12:00 AM,No,49.896013,-97.126315,"[[(49.895678857718, -97.127616387474), (49.896...",1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
425,Sherbrook,Logan,"[Logan Av, William Av]",[Southbound],2021-09-20,2021-11-01,12:00 AM,12:00 AM,No,49.906584,-97.153705,"[[(49.904179261579, -97.155653416614), (49.904...",1,30
426,Gull Lake,Markham,"[Markham Rd, East Lake Dr]","[Northbound, Southbound]",2021-09-17,2021-10-08,12:00 AM,12:00 AM,No,49.809311,-97.158976,"[[(49.80730904568, -97.158914003228), (49.8081...",1,39
427,Wardlaw,Osborne,"[Osborne St, Scott St]",[Eastbound],2021-09-20,2021-10-15,12:00 AM,12:00 AM,No,49.877534,-97.142232,"[[(49.876961712509, -97.143938755153), (49.877...",1,5
428,Scotsborough,Beckinsale,"[Beckinsale By, Novavista Dr]",[Southbound],2021-09-23,2021-10-13,12:00 AM,12:00 AM,No,49.820905,-97.107388,"[[(49.820524519173, -97.107184511392), (49.820...",1,4
429,Hirt,Ashworth St,"[Ashworth St S, Southglen Bv]",[Southbound],2021-09-23,2021-10-13,12:00 AM,12:00 AM,No,49.818463,-97.090621,"[[(49.817829455747, -97.091126663962), (49.817...",1,27